@model TechNow.Model.Cart

@{
    ViewBag.Title = "ShowtoCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" id="msgAlert">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>}


<h2>ShowtoCart</h2>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <td>Product Code</td>
                <td>Product Name</td>
                <td>Image</td>
                <td>Quantity</td>
                <td>Unit Price</td>
                <td>Total per Item</td>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                decimal total = Convert.ToDecimal(item.Shopping_Product.Price.Value * item.Quantity);
                <tr>
                    <td>@Html.DisplayFor(model => item.Shopping_Product.ProductCode) </td>
                    <td>@Html.DisplayFor(model => item.Shopping_Product.ProductName) </td>
                    <td><img src="~/Data/@item.Shopping_Product.ProductImage" width="100" /></td>
                    <td>
                        @using (Html.BeginForm("Update_Quantity_cart", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item.Shopping_Product.ProductID" name="Product_ID" />
                            <input type="number" value="@item.Quantity" name="Quantity" />
                            <input type="submit" value="Update Quantity" />
                        }
                    </td>
                    <td> @string.Format(info, "{0:#,#} VND", item.Shopping_Product.Price) </td>
                    <td>Total:  @string.Format(info, "{0:#,#} VND", @total)</td>
                    <td>
                        <a href="/ShoppingCart/RemoveCart/@item.Shopping_Product.ProductID">Remove</a>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td colspan="4" style="text-align:center">
                    @using (Html.BeginForm("CheckOut", "ShoppingCart"))
                    {
                    <table style="border-collapse:separate;border-spacing:5px;">
                        @{
                            var session = (TechNow.Common.CusLogin)Session[TechNow.Common.CommonConstants.CUSTOMER_SESSTION];
                        }
                        @*<tr>
                            <td>Code Customer:</td>
                            @if (session == null)
                            {
                                <td>
                                    <input type="number" name="CodeCustomer" required />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="number" name="CodeCustomer" value="@session.CodeCus" />
                                </td>
                            }
                            <td></td>
                        </tr>*@
                        <tr>
                            <td>Email:</td>
                            @if (session == null)
                            {
                                <td>
                                    <input type="email" name="Email" required readonly="true"/>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="email" name="Email" value="@session.Email" readonly="true" />
                                </td>
                            }
                            <td></td>
                        </tr>
                        <tr>
                            <td>Phone number:</td>
                            @if (session == null)
                            {
                                <td>
                                    <input type="number" name="Phone" required />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="number" name="Phone" value="@session.Phone" />
                                </td>
                            }
                            <td></td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            @if (session == null)
                            {
                                <td>
                                    <input type="text" name="CusName" required />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="text" name="CusName" value="@session.Name" />
                                </td>
                            }
                            <td></td>
                        </tr>
                        <tr>
                            <td>Address Delivery:</td>
                            <td>
                                <input type="text" name="Address_Delivery" required />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Create","Customers")" class="btn btn-success">Register</a>
                            </td>
                            <td>
                                <input type="submit" value="CheckOut" class="btn btn-success" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:right">Sum Total:  @string.Format(info, "{0:#,#} VND", Model.Total_Money())</td>
            </tr>
        </tfoot>

    </table>
    <a href="@Url.Action("Index","Home")">Continue to Shopping |</a>
    <a href="">CheckOut</a>
}
            else
            {
                <p>Cart is empty</p>
            }
