
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var listNewNews = (List<Models.Framework.New>)ViewBag.NewNews;
    var ListFeatureNews = (List<Models.Framework.New>)ViewBag.ListFeatureNews;
    var ListKhoaHoc = (List<Models.Framework.New>)ViewBag.ListKhoaHoc;
    var ListReview = (List<Models.Framework.New>)ViewBag.ListReview;
    var ListThuThuat = (List<Models.Framework.New>)ViewBag.ListThuThuat;
    var ListTinCongNghe = (List<Models.Framework.New>)ViewBag.ListTinCongNghe;
    var category = (List<Models.Framework.NewCategory>)ViewBag.category;
}

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
<meta content="Bootstrap News Template - Free HTML Templates" name="description">

<!-- Favicon -->
<link href="~/Assets/Client/images/favicon.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

<!-- CSS Libraries -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="~/Assets/Client/css/news/slick.css" rel="stylesheet">
<link href="~/Assets/Client/css/news/slick-theme.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="~/Assets/Client/css/news/style.css" rel="stylesheet">


<!-- Top News Start-->
<div class="top-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="row tn-slider">
                    @foreach (var item in listNewNews)
                    {
                        var url = "/new/detail/" + item.MetaTitle + "-" + item.NewID;
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="~/Assets/Client/images/news/@item.NewImage" />
                                <div class="tn-title">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    @foreach (var item in ListFeatureNews)
                    {
                        var url = "/new/detail/" + item.MetaTitle + "-" + item.NewID;
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="~/Assets/Client/images/news/@item.NewImage" />
                                <div class="tn-title">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->
<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Khoa Học</h2>
                <div class="row cn-slider">
                    @foreach (var item in ListKhoaHoc)
                    {
                        var url = "/new/detail/" + item.MetaTitle + "-" + item.NewID;
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="~/Assets/Client/images/news/@item.NewImage" />
                                <div class="cn-title">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="col-md-6">
                <h2>Tin Công Nghệ</h2>
                <div class="row cn-slider">
                    @foreach (var item in ListTinCongNghe)
                    {
                        var url = "/new/detail/" + item.MetaTitle + "-" + item.NewID;
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="~/Assets/Client/images/news/@item.NewImage" />
                                <div class="cn-title">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category News End-->
<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Review</h2>
                <div class="row cn-slider">
                    @foreach (var item in ListReview)
                    {
                        var url = "/new/detail/" + item.MetaTitle + "-" + item.NewID;
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="~/Assets/Client/images/news/@item.NewImage" />
                                <div class="cn-title">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <h2>Thủ Thuật</h2>
                <div class="row cn-slider">
                    @foreach (var item in ListThuThuat)
                    {
                        var url = "/new/detail/" + item.MetaTitle + "-" + item.NewID;
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="~/Assets/Client/images/news/@item.NewImage" />
                                <div class="cn-title">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category News End-->
<!-- Tab News Start-->
<div class="tab-news">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#featured">Tin mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#popular">Tin nổi bật</a>
                    </li>


                </ul>

                <div class="tab-content">
                    <div id="featured" class="container tab-pane active">
                        @foreach (var item in listNewNews)
                        {
                            var url = "/new/detail/" + item.MetaTitle + "-" + item.NewID;
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="~/Assets/Client/images/news/@item.NewImage" />
                                </div>
                                <div class="tn-title">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="popular" class="container tab-pane fade">
                        @foreach (var item in ListFeatureNews)
                        {
                            var url = "/new/detail/" + item.MetaTitle + "-" + item.NewID;
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="~/Assets/Client/images/news/@item.NewImage" />
                                </div>
                                <div class="tn-title">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        }
                    </div>





                </div>
            </div>

            <div class="col-lg-3">
                <div class="mn-list">
                    <h1 class="sw-title">Loại tin tức</h1>
                    <ul>
                        @foreach (var item in category)

                        {
                            //var url = "/news/" + item.MetaTitle + "-" + item.NewCategoryID;
                            <li><a href="/news/category/@item.MetaTitle-@item.NewCategoryID"><h3>@item.Name</h3></a></li>
                        }
                    </ul>
                </div>
            </div>





        </div>
    </div>
</div>
<!-- Tab News Start-->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Assets/Client/js/news/easing.min.js"></script>
<script src="~/Assets/Client/js/news/slick.min.js"></script>

<!-- Template Javascript -->
<script src="~/Assets/Client/js/news/main.js"></script>




