@model Models.Framework.Product
@{
    ViewBag.Title = "@Model.ProductName";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Models.Framework.ProductCategory)ViewBag.Category;
    var relatedProduct = (List<Models.Framework.Product>)ViewBag.RelatedProduct;
}
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="/shopping-site/@category.MetaTitle-@category.CategoryID">@category.Name</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->  
<!-- content-wraper start -->
<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">
            <div class="col-lg-5 col-md-6">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-1">
                        <div class="lg-image">
                            <a class="popup-img venobox vbox-item" href="~/Data/@Model.ProductImage" data-gall="myGallery">
                                <img src="~/Data/@Model.ProductImage" alt="product image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

                <!--// Product Details Left -->
                <div class="col-lg-7 col-md-6">
                    <div class="product-details-view-content pt-60">
                        <div class="product-info">
                            <h2>@Model.ProductName</h2>

                            <div class="rating-box pt-20">
                                <ul class="rating rating-with-review-item">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="review-item"><a href="#">Read Review</a></li>
                                    <li class="review-item"><a href="#">Write Review</a></li>
                                </ul>
                            </div>
                            <div class="price-box pt-20">
                                <span class="new-price new-price-2">@(Model.Price.HasValue? Model.Price.Value.ToString("N0"):"Please contact")</span>
                            </div>
                            <div class="product-desc">
                                <p>
                                    <span>
                                        @Model.Description
                                    </span>
                                </p>
                            </div>
                            <div class="single-add-to-cart">
                                <form action="#" class="cart-quantity">
                                    <div class="quantity">
                                        <label>quantitative in stock</label>
                                        <div class="cart-plus-minus-box" style="width:50px">
                                            <input value="@Model.Quantity" type="text">

                                        </div>
                                    </div>
                                    <button class="add-to-cart" type="submit"><a href="~/ShoppingCart/AddtoCard/@Model.ProductID">Add to cart</a></button>
                                </form>
                            </div>
                            <div class="product-additional-info pt-25">
                             
                                <div class="product-social-sharing pt-25">
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-reassurance">
                                <ul>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-check-square-o"></i>
                                            </div>
                                            <p>Security policy (edit with Customer reassurance module)</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-truck"></i>
                                            </div>
                                            <p>Delivery policy (edit with Customer reassurance module)</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-exchange"></i>
                                            </div>
                                            <p> Return policy (edit with Customer reassurance module)</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                    
                        <li><a><span>Product Details</span></a></li>
            
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
                <div class="product-details-manufacturer">
                    @Html.Raw(Model.Detail)
                
              
                </div>
            </div>

        </div>
    </div>
<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Similar Products:</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">

                        <!-- single-product-wrap start -->
                        @foreach (var item in relatedProduct)
                        {
                            var url = "/detail/" + item.MetaTitle + "-" + item.ProductID;
                        <div class="col-lg-12">
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="@url">
                                        <img style="width:240px;height:240px" src="~/Data/@item.ProductImage" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">New</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="product-details.html">Graphic Corner</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">@Model.ProductName</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">@(Model.Price.HasValue? Model.Price.Value.ToString("N0"):"Please contact")</span>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <button class="add-to-cart" type="submit"><a href="~/ShoppingCart/AddtoCard/@Model.ProductID">Add to cart</a></button>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                                }

                                <!-- single-product-wrap end -->
                            </div>

                       
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
</section>

<!-- Li's Laptop Product Area End Here -->

